@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply relative;
  }
}

:root {
  --color-primary: rgb(115, 53, 139);
    --color-tertiary: rgb(241, 196, 15);
    --color-secondary: rgb(46, 134, 193);
  --color-black: #150c25;
  --color-gray: #f5f5f5;

}
